<p class="text-info" style="text-align: center;">
  <%= mod.liked_by_count %> Likes /
  <%= mod.disliked_by_count %> Dislikes /
  <%= mod.bookmark_count %> Bookmarks /
  <%= mod.download_count %> Downloads /
  <%= mod.license.try(:name) || "No" %> License
</p>
