<%= breadcrumbs crumb("Mods", mods_path), crumb("New Mod") %>

<%= simple_form_for @mod, html: { class: "form-horizontal" } do |form| %>
  <%= form.error_notification %>
  <legend><h1>New Mod</h1></legend>
  <%= form.input :name %>
  <%= form.input :version, placeholder: "1.0.0" %>
  <%= form.input :compatible, label: "Select a KSP Version", collection: KSP_VERSIONS, input_html: { class: "chzn-select" } %>
  <%= form.input :description, input_html: { class: "span8", rows: 6 } %>
  <%= form.input :install, label: "Install Guide", input_html: { class: "span8", rows: 6 } %>
  <%= form.fields_for :images do |image_form| %>
    <%= image_form.input :image, as: :file %>
  <% end %>
  <div class="form-actions">
    <%= form.filepicker_field :upload, services: ["COMPUTER"], button_text: "Upload zip", drag_text: "Drop your zip file here.", button_class: "btn btn-success" %>
    <%= form.button :submit, class: "btn-primary" %>
  </div>
<% end %>

