<%= breadcrumbs crumb("Mods", mods_path), crumb("New Mod") %>

<%= simple_form_for @downloadable, html: { class: "form-horizontal" } do |form| %>
  <legend><h1>New Mod</h1></legend>
  <%= render partial: "form", locals: { form: form } %>

  <div class="form-actions">
    <%= form.filepicker_field :upload, filepicker_field_options %>
    <%= form.button :submit, class: "btn-primary" %>
  </div>
<% end %>
