<%= breadcrumbs crumb("Mods", mods_path), crumb(@downloadable.name) %>

<article>
  <header class="page-header">
    <h1>
      <%= @downloadable.name %>
      <small>by <%= @downloadable.account.username %></small>
    </h1>
  </header>
  <%= render partial: "thumbs", locals: { images: @downloadable.images, primary: @downloadable.images.shift } %>
  <%= render partial: "actions", locals: { mod: @downloadable } %>
  <br>
  <%= render partial: "stats", locals: { mod: @downloadable } %>
  <%= render partial: "tags", locals: { tags: @downloadable.source.tags } %>
  <br>
  <%= render partial: "content", locals: { mod: @downloadable } %>
</article>
