<%= breadcrumbs crumb("Mods", mods_path), crumb(@mod.name) %>

<article>
  <header class="page-header">
    <h1>
      <%= @mod.name %>
      <small>by <%= @mod.account.username %></small>
    </h1>
  </header>
  <%= render partial: "actions", locals: { mod: @mod } %>
  <br>
  <%= render partial: "stats", locals: { mod: @mod } %>
  <br>
  <%= render partial: "thumbs", locals: { images: @mod.images, primary: @mod.images.shift } %>
  <%= render partial: "content", locals: { mod: @mod } %>
</article>
