<div class="item <%= active_item?(carousel_item, active) %>">
  <%= link_to image_tag(carousel_item.image, width: "100%"), mod_path(carousel_item.downloadable) %>
  <div class="carousel-caption">
    <h4>
      <%= link_to mod_path(carousel_item.downloadable) do %>
        <%= carousel_item.downloadable.name %>
      <% end %>
      <small>by <%= carousel_item.downloadable.account.username %></small>
    </h4>
    <p><%= carousel_item.downloadable.description.truncate(250) %></p>
  </div>
</div>
