<div class="item <%= active_item?(carousel_item, active) %>">
  <%= link_to image_tag(carousel_item.primary_image.carousel, width: "100%"), carousel_item %>
  <div class="carousel-caption">
    <h4>
      <%= link_to carousel_item do %>
        <%= carousel_item.name %>
      <% end %>
      <small>by <%= carousel_item.account.username %></small>
    </h4>
    <p><%= carousel_item.description(250) %></p>
  </div>
</div>
