<div class="caption">
  <h3 style="text-align: center">
    <%= link_to thumbnail_caption.name, thumbnail_caption %>
  </h3>
  <p><%= thumbnail_caption.description(150) %></p>
  <div class="btn-group">
    <%= button_to icon_tag("download") + " Download", "download_mod_path", class: "btn-primary" %>
    <%= button_to icon_tag("thumbs-up"), "upvote_mod_path", tooltip("Upvote") %>
    <%= button_to icon_tag("bookmark"), "bookmark_mod_path", tooltip("Bookmark") %>
    <%= button_to icon_tag("flag"), "flag_mod_path", tooltip("Report") %>
  </div>
</div>
